
html, body{
    background-color: green;
    width: 100%;
    height:100%;
    margin:0;
    padding: 0;
}
h1
{
    margin:0 auto;
    padding:0;
    text-align: center;
}
#Container
{
    width: auto;
    padding: 0;
    margin:0;
    
}

#header
{
    padding: 0;
    margin:0;
    
}
/*Status Bar and Contains-----------------------------------------------------------------------------*/
#statusbar
{
    background-color: green;
    padding: 0;
    margin:0;
    text-align: right;
}
#Searchspan
{
    float:left;
    margin: 0.2em;
    padding:0.4em;
}
#Searchspan input[type=text]
{
   padding: 1em 5em;
   margin:0;
  
   
}
#Searchspan input[type=submit]
{
   padding: 0.9em 0.5em;
   margin:0;
  
   
}
#loginRegister {
    font-size: larger;
    margin: 0.8em 0.8em 0 0.1em ;
    padding: 0;
}
#loginRegister ul {
    list-style-type: none;
    padding:  0;
    text-decoration: none;
    margin: 0;
}
#loginRegister ul li {
    display: inline;
    padding: 1em;
    text-decoration: none;
}
#loginRegister ul a li:hover {
    background-color: #009933;
}
#loginRegister ul a:hover li {
    color: #99ff99;
}
#loginRegister a {
    color: #FFFFFF;
    font-size: larger;
    text-decoration: none;
}
#loginRegister ul a:active li {
    color: #006633;
}
#loginRegister ul a li:active {
    background-color: #33ff66;
}
/* Center Container ----------------------------------------------------------------------------------*/

#CenterContain{
   
    display: block;
    width: 100%;
}

#Main
{
    background-color: #66ff66;
    padding: 0;
    margin:0;
    float:right;
    width:80%;
    
}
#MainContent
{
    padding: 0.4em;
    margin:0.5em;
}
/* =-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Menu =-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
#Menu
{
    background-color: #00cc33;
    padding: 0;
    margin:0;
    float: left;
    width:  20%;
    text-align:center;
    
}
#Menu ul {
    list-style-type: none;
    padding: 1em 0;
}
#Menu ul li {
    margin: 0 auto;
    padding: 1em 0;
}
#Menu ul a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: larger;
}
#Menu ul a:hover li {
     color: #99ff99;
}
#Menu ul a li:hover {
    background-color: #009933;
}
#Menu ul a:active li {
   color: #006633;
}
#Menu ul a li:active {
      background-color: #33ff66;
}




/* =-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Footer =-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
#Footer
{
    background-color: #669900;
    padding: 0;
    margin:0;
    clear: both;
    text-align: center;
}

/* =-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Errors =-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.Error
{
    color: wheat;
    padding: 1em;
    margin:1em;
    width: 80%;
    border: solid 4px darkred;
    font-size: x-large;
    background-color: darkgreen;
    text-align: center;
}

/* ----------------------- Account -------------------------------------------- */

.fields
{
    margin:0 auto;
    padding:0.5em 0;
  
}

h3
{
    margin:0 auto;
    padding: 0;
    text-align: center;
  
}
#ThemeDiv
{
    margin:0 auto;
    border: darkgreen solid thin;
    background-color: #009900;
    padding: 0.3em 0;
}

#ChangeEmail
{
    margin:0 auto;
    border: darkgreen solid thin;
    background-color:  #00ff33;
    padding: 0.3em 0; 
}

#ChangePassword
{
    margin:0 auto;
    border: darkgreen solid thin;
    background-color:  #009933;
    padding: 0.3em 0; 
}